%tr
  %td= customer.name
  %td= customer.email
  %td
    = link_to "Edit Customer", edit_customer_path(customer), :class => 'btn btn-primary'
    = link_to "Delete Customer", customer_path(customer), :class => 'btn btn-danger', :method => :delete
    = link_to "New Order", new_customer_order_path(customer), :class => 'btn btn-success'

